[Unit]
Description=Dynamic Island Server
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/home/xuanhong/.local/bin/dynamic-island-server
Restart=always
RestartSec=3
WorkingDirectory=/home/xuanhong

[Install]
WantedBy=graphical-session.target
